#field {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
    background-color: #0E4C4E;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    }
    .cell {
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    }
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #101820;
    }
    .container {
    display: flex;
    flex-direction: column;
    }
    .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    }
    .grid div {
    border: 1px solid #000;
    }
    #text {
    font-size: 48px;
    color: white;
    }
    #player{
    font-size: 30;
    margin-top: 30px;
    color: white;
    }
    #gameResult {
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
    color: white;
    }    
